#findFreeFriends{
}

#status-update{
    padding-bottom: 20px;
}

.glue-text{
	font-family: Roboto;
	font-size: 40px;
	font-style: normal;
	font-weight: 200;
	line-height: 44px;
	text-shadow: rgba(0, 0, 0, 0.3) 1px 1px 1px;
}

#hours_selector{
}

#hoursFree{
	display: inline-block;
	min-width: 2em;
	font-weight: 700;
	padding-right: 20px;
	padding-left: 20px;
}

.plusMinusButtons{
	height: 30px;
	width: 30px;
}

#desired-activity{
	padding-top: 10px;
	padding-bottom: 10px;
}

#desired-activity-textarea{
    font-size: 14px;
    padding: 7px 3px;
	width: 280px;
	height: 50px;
	text-align: left;
	resize: none;
}

.defaultText {
	width: 300px; 
}

.defaultTextActive {
	color: #a1a1a1;
	font-style: italic; 
}

::-webkit-input-placeholder {
	color: #a1a1a1;
	font-style: italic; 
}

:-moz-placeholder { /* Firefox 18- */
	color: #a1a1a1;
	font-style: italic;  
}

::-moz-placeholder {  /* Firefox 19+ */
	color: #a1a1a1;
	font-style: italic; 
}

:-ms-input-placeholder {  
	color: #a1a1a1;
	font-style: italic;  
}


.top_right {
	position: absolute;
	top: 0;
	right: 0;
}

#bored_button{
	width: 296px;
	height: 50px;
}

.app-buttons{
	background-color: #C0C0C0;
	box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 1px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #888888;
	display: inline-block;
	padding: 0px;
	font-weight: 900;
	font-size: 24px;
}

.app-buttons:hover{
	background-color:#D8D8D8;
}

.app-buttons:active{
	position: relative;
	top: 1px;
	left: 1px;
	box-shadow: none;
}

.user-status{
    margin: 6px;
	padding: 6px;
	text-align: justify;
	display: block;
	width: 280px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    background: #fff;
    border: 1px solid #d0d1d5;
}

.user-status a:link{
	color: #3b5998;
}

.user-status a:visited{
	color: #3b5998;
}

.user-status a:hover{
	text-decoration: underline;
}

.user-status-timestamp{
    float: right;
    font-size: 12px;
}

.user-status-timestamp-expired{
    color: #A0A0A0;
}

.profile_picture{
	float: left;
	padding-right: 10px;
}