<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang='en-US'>
<head>
        <meta charset='utf-8'>
        <title>Find Free Friends</title>
		<link href='http://fonts.googleapis.com/css?family=Roboto:100,400,700' rel='stylesheet' type='text/css'>		
        <link rel='stylesheet' type='text/css' href='css/stylesheet.css'>
		<link rel='stylesheet' type='text/css' href='css/app.css'>		
		<link rel='stylesheet' type='text/css' href='css/auth-buttons-fb.css'>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="http://www.parsecdn.com/js/parse-1.3.0.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore.js"></script>
		<script type="text/javascript" src='js/jquery.elastic.min.js'></script>
        <script type="text/javascript" src='js/keys.js'></script>
		<script type="text/javascript" src='js/scripts.js'></script>
        <script>
            (function(d, s, id){
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>        
</head>

<body>
<div id="fb-root"></div>
	<div id="global_container">
        <div id="header">
            <div class="content_container">
            </div>
        </div>
        <div id="main">
            <div class="content_container">
            </div>
        </div>	
        <div id="footer">
            <div class="content_container">
            <p id="copyright">&copy; 2014 John Myrda</p>
            </div>
        </div>
	</div>
    
<!-- Templates -->
    <script type="text/template" id="login-header-template">
		<div id="app_logo" class="glue-text">Find Free Friends</div>
		<a id="loginButton" class="btn-auth btn-facebook" value="Login!" href="#">
			Sign in with <b>Facebook</b>
		</a>
    </script>

    <script type="text/template" id="login-main-template">
        <div id="main_left">
            This is where a graphic of the app could go. Maybe a picture of the mobile version? (Although I'd need to write that first.)
        </div>
        <div id="main_right">
            <h1>Get Together!</h1>
            <p>Find Free Friends is a Facebook application that allows you to see if your friends want to socialize. Once you and your friends start using Find Free Friends, the awkward shuffle of texting, calling, and messaging people to see who wants to hang will be over! Instantly see who wants to chillax with Find Free Friends.</p>
        </div>    
    </script>


    <script type="text/template" id="app-header-template">
		<div id="app_logo" class="glue-text">Find Free Friends</div>
		<a id="logoutButton" class="btn-auth btn-facebook" value="Logout!" href="#">
			Log Out
		</a>
    </script>
    
    <script type="text/template" id="app-main-template">
            <div id="status-update">
                <div id="hours_selector">
               
                </div>
                <!--textbox for entering desired activity-->
                <div id="desired-activity">
                    <textarea class="defaultText" id="desired-activity-textarea" placeholder="What do you want to do with your free time? Leave this blank if you're up for whatever." maxlength="160"></textarea>
                </div>
                
                <button type="button" id="bored_button" class="app-buttons">Join the crowd!</button>
            </div>
            <div id="message_feed"></div>
    </script>

    
    <script type="text/template" id="hours_selector-template">
        <div class="glue-text">I'm free for</div>    
        
        <button type="button" class="plusMinusButtons app-buttons" id="minus_button">-</button>
        <div id="hoursFree" class="glue-text"><%= hoursFree %></div>
        <button type="button" class="plusMinusButtons app-buttons" id="plus_button">+</button>
        
        <div class="glue-text">hour<%= hoursFree === 1 ? "" : "s" %> and want to</div>     
    </script>
    
    <script type="text/template" id="message_feed-status-template">
            <a href="https://facebook.com/<%=fb_id%>" target="_blank">
                <img class="profile_picture" src="http://graph.facebook.com/<%=fb_id%>/picture?type=square" title="<%=fb_name%>">
            </a>
            <a href="https://facebook.com/<%=fb_id%>" target="_blank"><%=fb_name%></a> said "I<%= desiredActivity === "" ? "'m up for whatever\"." : " want to " + desiredActivity + "\"."%>
            <br>
            <% if(fb_chatLink) { %>Chat with <%=fb_firstName%>! <% } %>
            <%= timestampHTML %>
    </script>    
    
</body>