<div id="main_left">
    This is where a graphic of the app could go. Maybe a picture of the mobile version? (Although I'd need to write that first.)
</div>
<div id="main_right">
    <h1>Get Together!</h1>
    <p>OutPlan is a Facebook application that allows you to see if your friends want to socialize. Once you and your friends start using outPlan, the awkward shuffle of texting, calling, and messaging people to see who wants to hang will be over! Instantly see who wants to chillax with outPlan.</p>
</div>